<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

  <!-- add styles -->
  <link rel="stylesheet"  th:href="@{/css/jquery-ui-1.9.2.custom.css}" type="text/css" />
  <!-- add scripts -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
  </script>

  <title>Save Asset</title>
</head>

<body>

<div class="container">

  <h3>Asset Directory</h3>
  <hr>

  <p class="h4 mb-4">Save Asset</p>

  <form th:action="@{/assets/save}"
        th:object="${asset}" method="POST">


    <!-- Add hidden form field to handle update -->
    <input type="hidden" th:field="*{id}"/>

    <th>Date</th>
    <input id="datepicker" type="text" th:field="*{date}"
           class="form-control mb-4 col-4" placeholder="Date"/>


    <th>Bank of America</th>
    <input type="text" th:field="*{boa}"
           class="form-control mb-4 col-4" placeholder="Bank of America">

    <th>Chase</th>
    <input type="text" th:field="*{chase}"
           class="form-control mb-4 col-4" placeholder="Chase">

    <th>HSBC Turkey</th>
    <input type="text" th:field="*{hsbcTr}"
           class="form-control mb-4 col-4" placeholder="HSBC Turkey">

    <th>Stock Market</th>
    <input type="text" th:field="*{stock}"
           class="form-control mb-4 col-4" placeholder="Stock Market">

    <th>Retirement-401K</th>
    <input type="text" th:field="*{ret401k}"
           class="form-control mb-4 col-4" placeholder="Retirement-401K">

    <th>Retirement-Turkey</th>
    <input type="text" th:field="*{retTur}"
           class="form-control mb-4 col-4" placeholder="Retirement-Turkey">


    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>
  <a th:href="@{/assets/list}">Back to Assets List</a>

</div>
</body>

</html>










