<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


	    <!-- Bootstrap Date Picker -->
	<link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>	

	<title>Save Asset</title>
</head>

<body>

	<div class="container">
	
		<h3>Asset Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Asset</p>
	
		<form th:action="@{/assets/save}"
			  th:object="${asset}" method="POST">
				
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			
			<input type="text" th:field="*{boa}"
					class="form-control mb-4 col-4" placeholder="Bank of America">

			<input type="text" th:field="*{chase}"
					class="form-control mb-4 col-4" placeholder="Chase">

			<input type="text" th:field="*{hsbcTr}"
					class="form-control mb-4 col-4" placeholder="HSBC Turkey">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/assets/list}">Back to Assets List</a>
		
	</div>
</body>

</html>










